body {
    margin: 0 300px 0 300px;
    background-color: black;
}

.first-container {

    background-color: #1F2937;
    
}

.header {
    display: flex;
    padding: 20px 150px;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    height: 51px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 50px 0 50px 150px;
}

.description {
    font-size: 20px;
    color: #E5E7EB;
    padding: 0 150px;
    font-weight: bold;
}

.hero-right img {
    height: 367px;
    width: 350px;
    padding: 50px 150px 50px 0px;
}

button {
    color: white;
    background: #3882F6;
    border-radius: 50px;
    font-size: 18px;
    width: 100px;
    height: 30px;
    margin-left: 150px;
    margin-top: 20px;
    font-weight: bold;
}